:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --radius: 1rem; 

  font-synthesis: none;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

.nav {
  background-color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  width: 100%;
}

.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
  text-decoration: none;  
  font-size: 1.3em;
  color: white;
}

.nav-li {
  padding: 1rem;
}

.nav-li:hover {
  background: rgb(17, 17, 17);
}

/*  Main */

main {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.home {
  max-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 3rem;
}

#emoji {
  font-size: 8rem;
}

/* Flashcard */

.btn {
  padding: 1rem;
  border-radius: var(--radius);
  font-size: 1rem;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #919191;
}

img {
  border-radius: var(--radius);
}

#g {
  color: green;
}

#r {
  color: red;
}

/* Flip animation */

.card {
  min-width: 325px;
  border: 3px solid;
  border-radius: var(--radius);
  padding: 1rem;
  background: none;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
}

.content {
  position: relative;
  transform-style: preserve-3d;
}

.back {
  position: absolute;
  top: 0;
}

.front, .back {
  backface-visibility: hidden;
}

.flip, .back {
  transform: rotateY(180deg);
}

img {
  width: 250px;
  aspect-ratio: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview {
  display: flex;
  justify-content: space-around;
}

.flex-gap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Quiz controls */

.guess-div, .controls-div {
  width: 100%;
  display: flex;
  place-content: center;
  gap: 3rem;
}

.guess-input {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.guess-btn {
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: black;
  color: white;
}

.guess-btn:hover {
  transform: scale(1.1);
  background-color: #5659ff;
}

input {
  padding: 0 1rem;
}

.next {
  visibility: hidden;
}

.next.show {
  visibility: visible;
}

/* Results */

.result {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

#trophy {
  font-size: 10rem;
}